*{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
body{
  margin:0;
}
h1, h2, h3, h5 {
  font-family: 'Dancing Script', cursive;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.App {
    height: 100vh;
    padding-bottom: 20px;
    max-width: 100%;
  
    margin: 0 auto;
  }

  html { 
    background: url("./soapify-bg.png") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  
.App_main {
  
  margin-top: 10px;
  padding-bottom: 40px;
}

button {
  border-radius: 10px;
  background-color: white;
  padding: 15px 32px;
  font-size: 16px;
  margin: 5px;
}

.App_main h1 {
  font-size: 50px;
}
.App_main h2 {
  font-size: 30px;
}

.App_main button a:visited {
  color: black;
}

form input {
  border-radius: 30px;
  height: 40px;
  margin:20px;
  width: 180px;
  padding: 12px 20px
}

button {
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  body {
    margin: 0;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}

