h2 {
    font-family: Arial, Helvetica, sans-serif;
}

.userInfo{
    max-width: 600px;
    margin-right: 30px;
    margin-left: 30px;
    padding-bottom:10px;
    padding-top:10px;
    margin-bottom: 20px;
    background: rgba(255, 255, 255, 0.75); 
    border-radius: 10px;
}

@media only screen and (min-width: 600px) {
    .userInfo{
        max-width: 600px;
        text-align: center;
        margin-right: auto;
        margin-left: auto; 
    }
}